.page-header
  %h1 Должности
.row
  .col-lg-6
    = form_tag(posts_path, :method => "get", class: "bs-component") do
      .form-group
        .input-group
          = text_field_tag :search, params[:search], class: "form-control", placeholder: "Поиск должностей"
          %span.input-group-btn
            = submit_tag 'Search', :name => nil, :class => "btn btn-default"
.list-group
  =render @posts
=paginate @posts
